input {
  position: absolute;
  width: 297px;
  height: 48px;
  left: 19px;
  top: 50px;
  border: 1px solid;
  border-radius: 10px;
  font-size: 16px;
  background: url(../src/icons/#030.png) no-repeat 16px 16px #fdfcfc;
  box-shadow: 5px 5px 80px rgba(212, 173, 134, 0.122623);
  padding-left: 40px;
  color: black;
}
